.baseHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: $standard-space;
	border-bottom: 1px solid $outborder-color;

	&__title {
		margin-right: $standard-space;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}
		b {
			vertical-align: text-bottom;
		}
		margin-bottom: 0;
	}

	&__titleSection {
		display: flex;
		margin-bottom: $standard-tiny-space;
	}
	&__decs {
		display: flex;
		align-self: flex-end;
		color: $label-font-color;
	}
	&__rightWrap {
		height: $standard-line-height;
	}

	@include response($tablet) {
		&__titleSection {
			display: block;
		}
	}
}
