.JDbtn {
  // border: $button-border;
  // border-radius: $button-radius;
  // display: inline-block;
  // height: $button-height;
  // line-height: 100%;
  // outline: 0;
  // padding: $button-padding;
  // text-transform: uppercase;
  // vertical-align: middle;
  // -webkit-tap-highlight-color: transparent;
  // text-decoration: none;
  // color: $button-color;
  // background-color: $button-bgColor;
  // text-align: center;
  // letter-spacing: $button-letter-spacing;
  // @extend %z-depth-1;
  // transition: background-color 0.2s ease-out;
  // cursor: pointer;
  // border: none;
  // font-weight: 300;
  // line-height: 0;

  // &.JDtextColor--primary {
  //   font-weight: 500;
  // }

  // &:hover {
  //   @extend %z-depth-1-half;
  //   background-color: $grey-level0;
  // }

  // &--pno {
  //   padding: 0;
  // }

  // &--plargest {
  //   padding: 0 $standard-largest-space;
  // }

  // &--plarge {
  //   padding: 0 $standard-large-space;
  // }

  // &--phuge {
  //   padding: 0 $standard-huge-space;
  // }

  // &--ptiny {
  //   padding: 0 $standard-tiny-space;
  // }

  // &--unRound {
  //   border-radius: 0px !important;
  // }

  // &--round {
  //   border-radius: $standard-round-border-radius;
  // }

  // Flot
  // &--left {
  //   float: left;
  // }

  // &--right {
  //   float: right;
  // }

  &.JDwaves-effect {
    overflow: hidden;
  }

  &.JDbtn--white {
    color: white;
  }

  &.JDbtn--darkPrimary {
    background-color: $primary-color-dark;
    color: white;
    &:hover {
      background-color: $primary-color;
    }
  }

  &.JDbtn--transparent {
    background-color: transparent;

    &:hover {
      background-color: $grey-opacity1;
    }
  }

  // Colors
  &--text-white {
    color: white !important;
  }

  // Disabled shared style

  // &:disabled {
  //   pointer-events: none;
  //   background-color: $button-disabled-background;
  //   box-shadow: none;
  //   color: $button-disabled-color;
  //   cursor: default;

  //   * {
  //     pointer-events: none;
  //   }

  //   &:hover {
  //     background-color: $button-disabled-background;
  //     color: $button-disabled-color;
  //   }
  // }
}

// border
// #root,
// .ReactModalPortal {
//   .JDbtn--border {
//     background-color: white;
//     border: 1px solid;
//     box-shadow: none;

//     &.JDoutborder-color {
//       border-color: $outborder-color;
//       &:hover {
//         border-color: $grey-level3 !important;
//       }
//     }

//     &.JDbtn {
//       &:hover {
//         background-color: white;
//       }
//     }
//   }
// }
