$checkbox-border-thick: 2px;

/* 브라우저 기본 css 제거 */
.JDcheck_box:not(:checked),
.JDcheck_box:checked {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.JDcheck_box_wrap {
	display: inline-block;
	outline: 0;
	max-height: 25px;
	vertical-align: text-bottom;

	&--small {
		max-height: 23px;
		max-height: 19px;
	}

	&--tiny {
		max-height: 15px;
	}

	* {
		outline: 0;
	}
}

.JDinput-wrap {
	position: relative;
}

// Filled in Style ***
.JDcheck_box {
	&--small {
		+ .JDcheck_box_label {
			width: 21px;
		}
		+ .JDcheck_box_label:after {
			width: 16px !important;
			height: 16px !important;
		}
	}

	&--small {
		& + .JDcheck_box_label {
			height: 23px !important;
			line-height: 23px !important;
		}
	}

	&--tiny {
		+ .JDcheck_box_label {
			width: 18px;
		}
		+ .JDcheck_box_label:after {
			width: 14px !important;
			height: 14px !important;
			border-width: 1px;
		}
	}

	&--tiny + .JDcheck_box_label {
		padding-left: 0; // space with label
		height: 16px;
	}

	/* ---------------------------------- 라벨스타일 --------------------------------- */
	+ .JDcheck_box_label {
		position: relative;
		padding-left: 35px; // space with label
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		min-width: max-content;
		font-size: $checkbox-label-fontSize;
		color: $checkbox-label-color;
		user-select: none;
	}

	// General
	+ .JDcheck_box_label:after {
		border-radius: 2px;
	}
	+ .JDcheck_box_label:before,
	+ .JDcheck_box_label:after {
		content: "";
		left: 0;
		position: absolute;
		/* .1s delay is for check animation */
		transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s,
			left 0.2s 0.1s;
		z-index: 1;
	}

	/* ----------------------------- Unchecked style ---------------------------- */
	&:not(:checked) + .JDcheck_box_label:before {
		width: 0;
		height: 0;
		border: 3px solid transparent;
		left: 6px;
		top: 10px;
		transform: rotateZ(37deg);
		transform-origin: 100% 100%;
	}
	&:not(:checked) + .JDcheck_box_label:after {
		height: 20px;
		width: 20px;
		background-color: transparent;
		border: $checkbox-border-thick solid $checkbox-border-color;
		top: 0px;
		z-index: 0;
	}

	/* ---------------------------------- 체크스타일 --------------------------------- */
	&:checked {
		// 체크후 안헤 화살표 색상
		+ .JDcheck_box_label:before {
			top: 1px;
			left: 0px;
			width: 8px;
			height: 13px;
			border-top: $checkbox-border-thick solid transparent;
			border-left: $checkbox-border-thick solid transparent;
			border-right: $checkbox-border-thick solid $checkbox-sign-color;
			border-bottom: $checkbox-border-thick solid $checkbox-sign-color;
			transform: rotateZ(37deg);
			transform-origin: 100% 100%;
		}
		+ .JDcheck_box_label:after {
			top: 0;
			width: 20px;
			height: 20px;
			border: 2px solid $checkbox-checked-color;
			background-color: $checkbox-checked-color;
			z-index: 0;
		}
	}

	&--small:checked {
		+ .JDcheck_box_label:before {
			width: 5px;
			height: 11px;
		}
	}

	&--tiny:checked {
		+ .JDcheck_box_label:before {
			width: 4px;
			height: 9px;
		}
	}

	/* ----------------------------- Disabled style ----------------------------- */
	&:disabled:not(:checked) + .JDcheck_box_label:before {
		background-color: transparent;
		border: 2px solid transparent;
	}
	&:disabled:not(:checked) + .JDcheck_box_label:after {
		border-color: transparent;
		background-color: $checkbox-disabled-border-color;
	}
	&:disabled:checked + .JDcheck_box_label:before {
		background-color: transparent;
	}
	&:disabled:checked + .JDcheck_box_label:after {
		background-color: $checkbox-disabled-border-color;
		border-color: $checkbox-disabled-border-color;
	}
	&:disabled + .JDcheck_box_label {
		color: $disabled-color;
		cursor: default;
	}
}
