.JDcolorPicker {
    display:inline-block;
    
   &__swatch {
        padding: $colorPicker-padding;
        background-color: $colorPicker-bg;
        border-radius: $colorPicker-radius;
        border: $colorPicker-border;
        display: inline-block;
        cursor: pointer;
   }
   &__color {
     width: $colorPicker-width;
     height: $colorPicker-height;
     border-radius: $colorPicker-radius;
   }
   &__modalWrap {
        position: absolute;
        z-index: 2;
   }
   &__cover {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
   }

   .JDLabel {
        margin-bottom: 0;
   }
}