.DayPickerModal {
  overflow: hidden;
  width: 100%;
  max-width: 25rem;
  overflow: hidden !important;

  &__head {
    padding: space(3);
    background-color: $primary-color;
  }

  .DayPicker {
    padding: space(2);
    border: none !important;
  }

  .DayPicker-box {
    width: 100%;
  }
}
