.JDdoc {
	background-color: white;
	padding: $doc-section-space $standard-largest-space;
	font-size: $typho-large;
	@include response($mobile) {
		padding: $doc-section-space $standard-huge-space;
	}
}

.ReactModalPortal  {
	.JDdoc {
		@include response($mobile) {
			padding: 0px 0px;
		}
	}
}

.JDdocSection {
	line-height: 1.5;
	margin-bottom: $doc-section-space;
}

.JDdocHeader {
	border-left: $standard-tiny-space solid $primary-color-dark;
	padding-left: $standard-tiny-space;
	margin-bottom: $standard-largest-space;

	h4 {
		margin-bottom: 0;
	}
}
