.dropDown {
    visibility: hidden;
    &--open {
        visibility: visible!important;
    }

    &--flxed {
        z-index: $z-index-6;
        @include shadow(2);
        position: fixed;
        border-radius: $standard-border-radius;
        background-color: white;
        overflow: hidden;
    }
    
    .JDbtn {
        border-radius: 0px!important;
        margin: 0!important;
        width: 100%!important;
        box-shadow: none!important;
        border: none!important;
        border-bottom: 1px solid $grey-level1!important;
        &:last-child {
            border-bottom: none!important;
        }
    }
    
    &--floatBottom {
        background-color: $grey-level2;
        z-index: $z-index-9;
        @include shadow(5);
        position: fixed;
        padding-bottom: 200px;
        bottom: -200px!important;
        left: 0!important;
        right: 0!important;
        top: unset!important;
    }

    &__head {
        background-color: white;
        color: $html-color;
        text-align: center;
        padding: $standard-small-space;
        font-size: $typho-large;
        font-weight: 600;
        border-bottom: 1px solid $grey-level1;
    }

}