.iconWrapper {
	line-height: 0;
	position: relative;

}

.JDicon__svg {
	display: inline-flex;
	align-self: center;
	position: relative;
	text-decoration: inherit;

	path,
	polygon,
	rect,
	line,
	circle {
		fill: currentColor;
	}

	&--selected {
		color: $primary-color-light;

		&:hover {
			color: $primary-color-dark;
		}
	}
}

// 🍡 그냥 도큐먼트를 위한겁니다.
.Icon__label {
	font-size: $typho-superTiny;
	width: 100%;
	color: black;

	&--large {
		font-size: $typho-normal;
	}
}

.JDicon {
	width: 1em;
	height: auto;

	&.JDhover:hover {
		cursor: pointer;
		color: $grey-level4;
	}

	@include iconSize--prefixer();
}

.JDicon__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 0;
	color: white;
	font-size: $typho-tiny;
	width: $icon-size-small;
	height: $icon-size-small;
	top: -4px;
	right: -4px;
	position: absolute;
	background-color: $html-color;
	border-radius: 50%;

	.JDbadge {
		margin: 0;
		margin-top: -2px;
		margin-left: 2px;
	}
}