
@mixin numbering($num) {
	&--#{$num} {
		.JDlist__li {
			margin-bottom: space($num);
		}
	}
}

.JDlist {
	&--whiteSpace {
		.JDlist__li {
			white-space: nowrap;
		}
	}

	&--bordered {
		.JDlist__li {
			margin-bottom: 1px solid $grey-level1;
		}
	}

	&--stripe {
		.JDlist__li:nth-child(even) {
			background-color: $grey-level1;
		}
	}

	@for $i from 1 through 9 {
		@include numbering($i);
	}

	&__li {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__index {
		display: block;
		margin-right: $standard-superTiny-space;
	}
}
