@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preloader {
  width: 1.5em;
  height: inherit;
  position: relative;

  &--large {
    width: 8rem;
    height: 8rem;
  }

  &--medium {
    width: 4rem;
    height: 4rem;
  }

  &--tiny {
    width: 2rem;
    height: 2rem;
  }

  &--small {
    width: 3rem;
    height: 3rem;
  }

  &--floating {
    position: fixed !important;
    bottom: 2% !important;
    right: 3% !important;
    transform-origin: left bottom;
    z-index: $z-index-7;
  }

  &__fill {
    fill: $preloader-fill-color;
  }

  &__wrap {
    display: inline-block;
    font-size: 0;
    transform-origin: center cetner;

    &--center {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &--floating {
      position: fixed !important;
      bottom: 2% !important;
      right: 3% !important;
      transform-origin: left bottom;
    }
  }

  &__outerline {
    fill: $preloader-background-color;
  }
}

.preloader--page__wrap {
  position: fixed;
  z-index: $z-index-8;
  padding: 24%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  .JDpageLoding {
    max-width: 34rem;
    width: 100%;
  }
}
