.splinter {
	display: inline-block;
	box-sizing: border-box;
	color: $splinter-color;
	transform: scaleY(#{$splinter-yzoom});
	align-self: center;
	vertical-align: center;
	padding-right: $standard-space;
	padding-left: $standard-space;
	font-weight: 100;

	&--huge {
		padding-right: $standard-huge-space;
		padding-left: $standard-huge-space;
	}

	&--small {
		padding-right: $standard-small-space;
		padding-left: $standard-small-space;
	}

	&--tiny {
		padding-right: $standard-tiny-space;
		padding-left: $standard-tiny-space;
	}
}
