#root,
.ReactModalPortal {
	
	.react-tabs {
		color: $tabs-tab-color;

		&__tab-list {
			height: $tabs-height;
			line-height: $tabs-height;
			display: flex;
			border-bottom: $tabs-border-bottom;
		}

		&__tab {
			box-sizing: border-box;
			border-bottom: $tab-border-bottom;
			padding: 0px $tabs-tab-padding;
			outline: 0;

			// 선택된
			&--selected {
				color: $tabs-tab-selected-color !important;
				border-bottom: $tabs-tab-selected-border-bottom;
				border-radius: $tabs-tab-border-radious $tabs-tab-border-radious 0px 0px;
			}

			&:not(.react-tabs__tab--selected) {
				.JDinput {
					border: none;
					pointer-events: none;
				}
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.JDtabs {
		.react-tabs__tab-list {
			width: 100%;
			margin-bottom: space(2);
		}
		&--tabsAlign-spaceAround {
			.react-tabs__tab-list {
				display: flex;
				justify-content: space-around;
			}
		}
		&--tabsAlign-full {
			.react-tabs__tab {
				flex-grow: 1;
				text-align: center;
			
				& > a {
				  display: block
				}
			}
		}

		&--tabsAlign-spaceBetween {
			.react-tabs__tab-list {
				display: flex;
				justify-content: space-between;
			}
		}

		&--tabsAlign-normal {
			.react-tabs__tab {
				margin-right: $standard-space;
			}
		}

		&--style_button {
			$B: ".react-tabs";
			#{$B}__tab-list {
				border: none;
				display: block;
				height: auto;
				&:after {
					clear: both;
					content: "";
					display: block;
				}
			}
			#{$B}__tab {
				border: 1px solid $tabs-tab-border-color;
				border-radius: $tabs-tab-border-radious;
				float: left;
				margin: $standard-margin-bottom / 6 $standard-space / 4;
				line-height: auto;
				&--selected {
					background-color: $grey-level1;
					border-color: transparent;
					line-height: unset;
				}
			}
		}
	}
}
