@import "../style_config.scss";

.JDbadge {
	display: inline-block;
	padding: $badge-padding;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	font-size: $typho-small;
	white-space: nowrap;
	margin-left: $standard-small-space;
	vertical-align: text-top;
	border-radius: $badge-br;

	&--tiny {
		font-size: $typho-superTiny;
		padding: $badge-padding-tiny;
		border-radius: $badge-radius-tiny;
	}

	&--hover {
		cursor: pointer;
	}

	@include colorBg--prefixer();
}
