@import "../style_config.scss";

.JDsearchInput {
  position: relative;
  .dataModal {
    background-color: white;
    position: absolute;
    margin-top: space(2);
    @include shadow(3);
    border-radius: $standard-border-radius;

    &--empty {
      .dataModal {
        &__body {
          padding: space(2) space(4);
        }
      }
    }
    &__head {
      padding: space(2);
      padding-top: space(3);
      padding-bottom: space(1);
      border-bottom: 1px solid $grey-level1;
    }
    &__body {
      padding: space(2);
      padding-top: space(1);
      @extend %JDscrollbar;
    }

    &__contents {
      width: 100%;
      padding: space(1);
    }

    &__title {
    }

    &__foot {
      display: flex;
      justify-content: flex-end;
      padding: space(1);
    }
    &__li {
      margin: space(1);
      display: flex;
      cursor: pointer;

      &--selected {
        .dataModal__contents {
          background-color: $grey-level0;
        }
      }
    }
    &__tags {
      display: flex;
      justify-content: flex-end;
      width: 15%;
      padding: space(1);
      border-right: 1px solid $grey-level1;

      .dataModal__hilight {
        height: min-content;
      }
    }
    &__describ {
    }
    &__hilight {
      background-color: $blue-opacity1;
      border-bottom: 2px solid $primary-color;
    }
  }
}
