@import "./cardHeader";
@import "./cardSection";

$card-radius: $standard-border-radius;
$card-hover-bg: $grey-level1;

.JDcard {
	color: $black-color;
	position: relative;
	padding: $card-padding;
	text-align: left;
	border-radius: $card-radius;
	background-color: $card-bg;
	@include shadow($card-shadow);

	@include response($tablet) {
		padding: $card-padding--md;
	}

	&__badges {
			position: absolute;
			top: 0;
			right: $card-padding;
		display:flex;
	}

	&__foot {
		&--fit {
			border-top: 1px solid $grey-opacity1;
			background-color: $grey-level0;

			.JDbtn {
				color: $grey-level4;
				font-weight: 400;
				border-right: 1px solid $grey-opacity1;
				margin: 0 !important;
				background-color: transparent !important;
				&:hover {
					background-color: $grey-level1 !important;
				}

				box-shadow: none !important;
				&:last-child {
					border-right: none;
				}
			}
		}
	}

	&__clearIcon {
		position: absolute;
		top: $standard-tiny-space;
		right: $standard-tiny-space;
		&:hover {
			cursor: pointer;
			color: $grey-level3;
		}
	}

	&--withFoot {
		padding: 0;
		.JDcard__body {
			padding: $card-padding;
		}
	}

	&--align {
		text-align: center;
	}

	&--fullWidth {
		box-sizing: border-box;
		width: 100%;
	}

	&--noMargin {
		margin: 0;
	}

	// ⭐️ 이거 잘 키워서 좋게만들자
	&--fullHeight {
		box-sizing: border-box;
		min-height: 100%;

		&-wmd {
			@include response($phablet) {
				min-height: none;
			}
		}
	}

	&--selected {
		border: 1px solid $primary-color;
	}

	&--hover:hover {
		background-color: $card-hover-bg;
		cursor: pointer;

		.JDcard__badges {
			position: absolute;
			top: 0;
			right: $card-padding;

			.JDbadge {
				&:before {
					border-color: $card-hover-bg;
				}
			}
		}
		
		.JDhelp {
			color: $grey-level2;
		}

		* {
			cursor: inherit;
		}
	}

	.JDbtn {
		margin-bottom: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}

	// drragable 을 위해서
	& > * {
		cursor: auto;
	}
}
