// 아래 폰트 패밀리는 모든 OS 에서 기본으로 가지고있는 폰트패밀리 목록입니다.
//자세한건 다음 링크를 참조하세요
/* https://github.com/necolas/normalize.css/issues/665 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
// @외국꺼
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
	color: $html-color;
	overflow-x: hidden;

	@include response($full, desktophd) {
		font-size: 1.15rem; //이것이 모든 타이포에 영향을줌
	}

	font-size: 1.1rem; //이것이 모든 타이포에 영향을줌

	@include response($tablet) {
		font-size: 1rem; //이것이 모든 타이포에 영향을줌
	}

	@include response($mobile) {
		font-size: 0.8rem; //이것이 모든 타이포에 영향을줌
	}

	@include response($smobile) {
		font-size: 0.75rem; //이것이 모든 타이포에 영향을줌
	}
}
// @한국꺼
html {
	font-family: "Noto Sans KR", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	word-wrap: break-word;
	margin-top: 0;
}

h1 {
	@extend %h1;
}

h2 {
	@extend %h2;
}

h3 {
	@extend %h3;
}

h4 {
	@extend %h4;
}

h5 {
	@extend %h5;
}

h6 {
	@extend %h6;
}
