// validation @extends

%shared-header-division {
  border-bottom: 1px solid $grey-level1;
  padding: $standard-space;
}


%invalid-input-style {
  border: $input-invalid-border;
}

%JDshapeHolder {
  background-color: $holder-bg;
  background-color: $holder-bg;

}


%JDscrollbar--hidden {
  @extend %JDscrollbar--common;
  &::-webkit-scrollbar {
    transition: 0.3s;
    background-color: transparent !important;
    width: 0px !important;
    height: 0px !important;
  }
}

%input-focus-style {
  border: 1px solid $input-focus-color;
  @extend %z-depth-1;
}

%custom-success-message {
  content: attr(data-success);
  display: block;
  color: $input-success-color;
  opacity: 1;
  transform: translateY(3rem);
}

%custom-error-message {
  content: attr(data-error);
  display: block;
  color: $input-error-color;
  opacity: 1;
  transform: translateY(3rem);
}

%input-after-style {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

// 4. Forms
// ==========================================================================
// box-shadow @extends

%z-depth-5 {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

%z-depth-4 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

%z-depth-3 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

%z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

%z-depth-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

%z-depth-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

%z-depth-half {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 2px 1px -1px rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07),
    0 2px 1px -1px rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

%JDblink {
  opacity: 1;
  -webkit-animation: blink 2s linear;
  -moz-animation: blink 2s linear;
  animation: blink 2s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &--infinity {
    animation-iteration-count: infinite;
    animation-delay: 3000;
  }
}

// NoMatch 아이콘 사이즈
%JDhugeIcon {
  padding: 3rem 4.5rem;
  margin-top: 3.5rem;
  border-radius: 40%/45%;
  display: inline-block;
  background-color: $grey-level1;
}

%h1 {
  font-size: 3.5rem;
  letter-spacing: -0.1rem;
  margin-bottom: $standard-largest-space;
}

%h2 {
  font-size: 3rem;
  letter-spacing: -0.1rem;
  margin-bottom: $standard-huge-space;
}

%h3 {
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
  margin-bottom: $standard-margin-bottom;
}

%h4 {
  font-size: 2rem;
  letter-spacing: -0.08rem;
  margin-bottom: $standard-margin-bottom;
}

%h5 {
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  margin-bottom: $standard-margin-bottom;
}

%h6 {
  font-size: $typho-h6;
  letter-spacing: 0;
  margin-bottom: $standard-margin-bottom;
}

%JDscrollbar--common {
  overflow: hidden;
  box-sizing: border-box;
  overflow-x: hidden;

  @media only screen and (max-width: $tablet) and (min-width: 0px) {
    overflow: overlay;
  }

  &:hover {
    overflow: overlay;
    &::-webkit-scrollbar {
      width: $JDscrollbar-width;
      transition: 0.3s;
      background-color: $JDscrollbar-bar-color;
      cursor: pointer;
      height: $JDscrollbar-height;
    }
    &::-webkit-scrollbar-track {
      background-color: $JDscrollbar-bar-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $JDscrollbar-thumb-color;
      box-sizing: border-box;
      border: 1px solid $JDscrollbar-thumb-color;
      cursor: pointer;
      &:hover {
        background-color: $JDscrollbar-thumb-hover-color;
      }
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

%JDscrollbar {
  @extend %JDscrollbar--common;
}

// scrollbar slender form
%JDscrollbar--hidden {
  @extend %JDscrollbar--common;
  &::-webkit-scrollbar {
    transition: 0.3s;
    background-color: transparent;
    width: 0px;
    height: 0px;
  }
}
%JDscrollbar--slender {
  @extend %JDscrollbar--common;
  &:hover {
    &::-webkit-scrollbar {
      transition: 0.3s;
      background-color: transparent;
      width: 4px;
      height: 4px;
    }
  }
}
