

%timelineTopLeftIconBox {
    .rct-header-root {
        position: relative;
        z-index: 90;
        text-align:center;
        &__topLeft {
            height: 100%;
            background-color: $primary-color;
            display:flex;
            align-items: center;
            justify-content: center;
            overflow: visible!important;
            transition: 0.3s;
            &:hover {
                background-color: $primary-color-light;
            }
            .DayPicker-box {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .DayPicker--input  {
                left: 50%;
            }
        }
        .dailyPrice__topLeftIcon {
            color:white;
        }
    }
}


@-webkit-keyframes blinker {
    20% {opacity: 1.0;}
    50% {opacity: 0.3;}
    80% {opacity: 1.0;}
  }

  .loading-blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }
  