@import "./components/Preloader.scss";
@import "./components/PreloaderModal.scss";
@import "./components/Modal.scss";
@import "./components/JDLabel.scss";
@import "./components/InputText.scss";
@import "./components/Typho.scss";
@import "./components/Tooltip.scss";
@import "./components/Avatar.scss";
@import "./components/card/Card.scss";
@import "./components/dayPicker/DayPicker.scss";
@import "./components/DayPickerModal.scss";
@import "./components/Slider.scss";
@import "./components/PhotoFrame.scss";
@import "./components/SelectBox.scss";
@import "./components/Radio.scss";
@import "./components/Toast.scss";
@import "./components/FilesManager.scss";
@import "./components/Tabs.scss";
@import "./components/SearchInput.scss";
@import "./components/Configer.scss";
@import "./components/CheckBox.scss";
@import "./components/Doc.scss";
@import "./components/Badge.scss";
@import "./components/Switch.scss";
@import "./components/Splinter.scss";
@import "./components/RadioBox.scss";
@import "./components/Pagination.scss";
@import "./components/List.scss";
@import "./components/requireMark.scss";
@import "./components/SingleUploader.scss";
@import "./components/Textarea.scss";
@import "./components/TooltipList";
@import "./components/DropDown";