.docs-section {
	padding: $docs-padding;

	// 🚩섹션 안에 박스는 원소들의 마지막 마진과 더해질수 있습니다.
	&__box {
		padding-bottom: $docs-section__padding;

		& > * {
			vertical-align: top;
		}
	}

	&--narrowTop {
		padding: $docs-padding--narrowTop;
	}
}
